// BUTTONS

.btn {
	display: inline-block;
	.font(1rem, white);
	.regular();
	padding: 0 26px;
	border-radius: 3px;
	text-transform: uppercase;
	height: 36px;
	line-height: 38px;
	text-decoration: none;
	border: 0;
	cursor: pointer;
	.transition(all .3s ease);

	&_green {
		background-color: @green-text-color;

		&:hover {
			background-color: darken(@green-text-color, 10%);
		}

	}
}