// FONTS

@import "https://fontastic.s3.amazonaws.com/3zRCgP4WAqY74e7Vv8bWFH/icons.css";

@font-face {
	font-family: 'Circe-ExtraLight';
	src: url('../font/Circe-ExtraLight.eot');
	src: url('../font/Circe-ExtraLight.eot?#iefix') format('embedded-opentype'),
	url('../font/Circe-ExtraLight.woff2') format('woff2'),
	url('../font/Circe-ExtraLight.woff') format('woff'),
	url('../font/Circe-ExtraLight.ttf') format('truetype'),
	url('../font/Circe-ExtraLight.svg#Circe-ExtraLight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Circe-Light';
	src: url('../font/Circe-Light.eot');
	src: url('../font/Circe-Light.eot?#iefix') format('embedded-opentype'),
	url('../font/Circe-Light.woff2') format('woff2'),
	url('../font/Circe-Light.woff') format('woff'),
	url('../font/Circe-Light.ttf') format('truetype'),
	url('../font/Circe-Light.svg#Circe-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Circe-Regular';
	src: url('../font/Circe-Regular.eot');
	src: url('../font/Circe-Regular.eot?#iefix') format('embedded-opentype'),
	url('../font/Circe-Regular.woff2') format('woff2'),
	url('../font/Circe-Regular.woff') format('woff'),
	url('../font/Circe-Regular.ttf') format('truetype'),
	url('../font/Circe-Regular.svg#Circe-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Circe-Bold';
	src: url('../font/Circe-Bold.eot');
	src: url('../font/Circe-Bold.eot?#iefix') format('embedded-opentype'),
	url('../font/Circe-Bold.woff2') format('woff2'),
	url('../font/Circe-Bold.woff') format('woff'),
	url('../font/Circe-Bold.ttf') format('truetype'),
	url('../font/Circe-Bold.svg#Circe-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'pf_beausans_prothin';
	src: url('../font/pf_beausans_pro_thin.eot');
	src: url('../font/pf_beausans_pro_thin.eot?#iefix') format('embedded-opentype'),
	url('../font/pf_beausans_pro_thin.woff2') format('woff2'),
	url('../font/pf_beausans_pro_thin.woff') format('woff'),
	url('../font/pf_beausans_pro_thin.ttf') format('truetype'),
	url('../font/pf_beausans_pro_thin.svg#pf_beausans_prothin') format('svg');
	font-weight: normal;
}

.font(@size, @color, @margbot: 0) {
	font-size: @size;
	color: @color;
	margin-bottom: @margbot;
}

.ex-light() {
	font-family: 'Circe-ExtraLight';
	src: url('../font/Circe-ExtraLight.eot');
	src: url('../font/Circe-ExtraLight.eot?#iefix') format('embedded-opentype'),
	url('../font/Circe-ExtraLight.woff2') format('woff2'),
	url('../font/Circe-ExtraLight.woff') format('woff'),
	url('../font/Circe-ExtraLight.ttf') format('truetype'),
	url('../font/Circe-ExtraLight.svg#Circe-ExtraLight') format('svg');
	font-weight: normal;
	font-style: normal;
}

.light() {
	font-family: 'Circe-Light';
	src: url('../font/Circe-Light.eot');
	src: url('../font/Circe-Light.eot?#iefix') format('embedded-opentype'),
	url('../font/Circe-Light.woff2') format('woff2'),
	url('../font/Circe-Light.woff') format('woff'),
	url('../font/Circe-Light.ttf') format('truetype'),
	url('../font/Circe-Light.svg#Circe-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}

.regular() {
	font-family: 'Circe-Regular';
	src: url('../font/Circe-Regular.eot');
	src: url('../font/Circe-Regular.eot?#iefix') format('embedded-opentype'),
	url('../font/Circe-Regular.woff2') format('woff2'),
	url('../font/Circe-Regular.woff') format('woff'),
	url('../font/Circe-Regular.ttf') format('truetype'),
	url('../font/Circe-Regular.svg#Circe-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

.bold() {
	font-family: 'Circe-Bold';
	src: url('../font/Circe-Bold.eot');
	src: url('../font/Circe-Bold.eot?#iefix') format('embedded-opentype'),
	url('../font/Circe-Bold.woff2') format('woff2'),
	url('../font/Circe-Bold.woff') format('woff'),
	url('../font/Circe-Bold.ttf') format('truetype'),
	url('../font/Circe-Bold.svg#Circe-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

.thin {
	font-family: 'PFBeauSansPro-Thin';
	src: url('../font/PFBeauSansPro-Thin.eot');
	src: url('../font/PFBeauSansPro-Thin.eot?#iefix') format('embedded-opentype'),
	url('../font/PFBeauSansPro-Thin.woff2') format('woff2'),
	url('../font/PFBeauSansPro-Thin.woff') format('woff'),
	url('../font/PFBeauSansPro-Thin.ttf') format('truetype'),
	url('../font/PFBeauSansPro-Thin.svg#pf_beausans_prothin') format('svg');
	font-weight: normal;
}