/* ICONS */
.icon-e {
	display: inline-block;
	vertical-align: middle;
	background-image: url(../img/iconpack.png);
}

.icon-ribbon {width: 53px; height: 73px; background-position: -5px -5px;}
.icon-runner {width: 72px; height: 73px; background-position: -62px -5px;}
.icon-heart {width: 53px; height: 73px; background-position: -139px -5px;}
.icon-archiv-arrow {width: 14px; height: 14px; background-position: -197px -5px;}
.icon-archiv-arrow-big {width: 21px; height: 21px; background-position: -216px -40px;}

// social-links
.icon-fb {width: 30px; height: 30px; background-position: -216px -5px;}
.icon-tw {width: 30px; height: 30px; background-position: -251px -5px;}
.icon-vk {width: 30px; height: 30px; background-position: -286px -5px;}
.icon-yt {width: 30px; height: 30px; background-position: -321px -5px;}

// social-links-footer
.icon-ft-yt {width: 19px; height: 18px; background-position: -356px -5px;}
.icon-ft-tw {width: 19px; height: 18px; background-position: -380px -5px;}
.icon-ft-fb {width: 19px; height: 18px; background-position: -404px -5px;}
.icon-ft-vk {width: 19px; height: 18px; background-position: -428px -5px;}

// download-read file icons
.icon-article {width: 24px; height: 24px; background-position: -452px -5px;}
.icon-pdf {width: 24px; height: 24px; background-position: -481px -5px;}
.icon-play {width: 48px; height: 48px; background-position: -510px -5px;}
