.info-box {
	* {
		.font(inherit, inherit);
	}
	padding-bottom: 150px;
	p {
		.light();
		.font(1.125rem, @text, 20px);
		line-height: 1.5;
	}
	img {
		vertical-align: middle;
	}
	a {
		.light();
		.font(1.125rem, @light-blue);
		&:hover {
			text-decoration: none;
		}
	}
	i {
		.light();
		.font(1.125rem, @text);
		font-style: italic;
	}
	strong {
		.bold();
		.font(1.125rem, @text);
	}
	b {
		.bold();
		.font(1.125rem, @text);
	}
	em {
		.light();
		.font(1.125rem, @text);
		font-style: italic;
	}
	h1 {
		.font(2.8125rem, @text, 25px);
		text-transform: uppercase;
		.light();
	}
	h2 {
		.font(2.4rem, @text, 25px);
		text-transform: uppercase;
		.light();
	}
	h3 {
		.font(2rem, @text, 18px);
		text-transform: uppercase;
		.light();
	}
	h4 {
		.font(1.6rem, @text, 15px);
		text-transform: uppercase;
		.light();
	}
	h5 {
		.font(1.35rem, @text, 12px);
		text-transform: uppercase;
		.light();
	}
	h6 {
		.font(1.25rem, @text, 10px);
		text-transform: uppercase;
		.light();
	}
}

@media screen and (max-width: 768px) {
	.info-box {
		p, a, i, em, strong, b {
			font-size: 1.5rem;
		}

	}
}