// RESET CSS
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0;padding: 0;	border: 0; font-size: 16px;	font: inherit;}

input, textarea {outline: none;}
textarea {resize: none; overflow: hidden;}

 // HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}

body {
	min-width: 320px;
	.regular();
	.font(1rem, @text);
}

@path: "../img/";


.clearfix:before, .clearfix:after {content: ""; display: table;}
.clearfix:after {clear: both;}
.clearfix {zoom: 1;}

@padding: 40px;

.container {
	padding-left: @padding;
	padding-right: @padding;
	margin: 0 auto;
	max-width: 1216px;
}

.hidden-element {display: none;}


@media screen and (max-width: 768px) {
	@padding: 24px;
	.container {
		padding-left: @padding;
		padding-right: @padding;
	}
}

@media screen and (max-width: 480px) {
	@padding: 12px;
	.container {
		padding-left: @padding;
		padding-right: @padding;
	}
}
