// TABLE OF CONTENTS

// 1. Colors
// 2. Mixins

// Colors
@green-bg-color: #dbf5c5;
@green-text-color: #46a013;
@green-footer-bg: #dbf5c5;

@blue-bg-color: #54c2e6;
@blue-text-color: #54c2e6;
@blue-menu-bg: #36a1d6;
@blue-footer-bg: #edf3ec;

@blue-dark-footer-bg: #e0f7ff;
@blue-dark-text-color: #36b6d6;

@brown-text-color: #46a013;
@brown-footer-bg: #f6efcb;

// One New page color
@light-blue: #56c1e6;

// Default text color
@text: #464c4a;


// Mixins
.fade-bg(@color, @width: 165px) {
	background: @color;
	position: relative;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: @width;
		height: 100%;
		z-index: 1;
		background: rgba(255,255,255,1);
		background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,146,10,0) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(255,146,10,0)));
		background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,146,10,0) 100%);
		background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,146,10,0) 100%);
		background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,146,10,0) 100%);
		background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,146,10,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ff920a', GradientType=1 );
	}
	&:after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: @width;
		height: 100%;
		z-index: 1;
		background: rgba(255,146,10,0);
		background: -moz-linear-gradient(left, rgba(255,146,10,0) 0%, rgba(255,255,255,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,146,10,0)), color-stop(100%, rgba(255,255,255,1)));
		background: -webkit-linear-gradient(left, rgba(255,146,10,0) 0%, rgba(255,255,255,1) 100%);
		background: -o-linear-gradient(left, rgba(255,146,10,0) 0%, rgba(255,255,255,1) 100%);
		background: -ms-linear-gradient(left, rgba(255,146,10,0) 0%, rgba(255,255,255,1) 100%);
		background: linear-gradient(to right, rgba(255,146,10,0) 0%, rgba(255,255,255,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff920a', endColorstr='#ffffff', GradientType=1 );
	}
}

