.popup {
	position: relative;
	background: white;
	&_std-popup {
		width: 1144px;
		.box-sizing(border-box);
		padding: 40px 31px;
	}
	&__close-button {
		background: url(../img/close-button.png) no-repeat;
		border: 0;
		top: -30px;
		right: 0;
		position: absolute;
		cursor: pointer;
		z-index: 5;
		width: 21px;
		height: 21px;
		padding: 0;
		.box-sizing(border-box);
		&:hover {
			color: #e31b1b;
		}
	}
	&__right-column {
		margin-left: 564px;
	}
	.info-box {
		padding-bottom: 0;
	}

	h1 {
		.light();
		.font(2.8125rem, @text, 45px);
		text-align: center;
	}

	img {
		width: 519px;
		height: 468px;
		vertical-align: middle;
		margin-right: 45px;
		float: left;
	}

	table {
		margin-bottom: 65px;
		min-width: 525px;
		tr {
			td {
				&:nth-child(odd) {
					padding-left: 0;
				}
			}
		}
		thead {
			tr {
				td {
					.regular();
					.font(1.6875rem, @text);
					.box-sizing(border-box);
					padding: 7px 32px;
				}
			}
		}
		tbody {
			tr {
				td {
					.light();
					.font(1.125rem, @text);
					.box-sizing(border-box);
					padding: 7px 32px;
				}
			}
		}
	}

	p {
		.regular();
		.font(1.6875rem, @text, 25px);
	}

	ul {
		list-style-type: decimal;
		padding-left: 17px;
		li {
			.light();
			.font(1.125rem, @text);
			margin-bottom: 30px;
			line-height: 1.3;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	.popup {
		&_std-popup {
			width: auto;
			padding: 24px;
		}
	}
}

@media screen and (max-width: 1070px) {
	.popup {
		text-align: center;
		&__right-column {
			width: 100%;
			margin-left: 0;
		}

		h1 {
			margin-bottom: 25px;
		}

		img {
			margin-right: 0;
			margin-bottom: 40px;
			float: none;
		}
		.info-box {
			text-align: left;
			padding-bottom: 0;
		}
	}
}

@media screen and (max-width: 768px) {
	.popup {
		img {
			width: 345px;
			height: 311px;
		}
		h1 {
			font-size: 3.375rem;
		}
		.info-box {
			p {
				font-size: 1.5rem;
			}
			table {
				thead {
					tr {
						td {
							font-size: 2.2rem;
						}
					}
				}
				tr {
					td {
						font-size: 1.5rem;
					}
				}
			}
			ul {
				li {
					font-size: 1.5rem;
				}
			}
			ol {
				li {
					font-size: 1.5rem;
				}
			}
		}
	}
}

@media screen and (max-width: 615px) {
	.popup {
		.table-scroll {
			overflow: scroll;
			-webkit-overflow-scrolling: touch;
		}
	}
}

@media screen and (max-width: 460px) {
	.popup {
		img {
			display: none;
		}
	}
}