// TABLE OF CONTENTS
// 1. Prod icons


// PROD ICONS
.prod-icons {
	margin-bottom: 144px;
	&__name {
		.font(3rem, @text, 31px);
		.light();
		text-align: center;
	}

	&__list {
		max-width: 900px;
		margin: 0 auto;
	}

	&__list-item {

		&:after {
			content: " ";
			height: 86px;
			width: 100%;
			background: url(../img/prod-icon-separator-rl.png) no-repeat center 0;
		}

		&:nth-child(2n) {
			&:after {
				.transform(scaleX(-1));
				filter: FlipH;
				-ms-filter: "FlipH";
			}
		}

		&:last-child {
			&:after {
				display: none;
			}
		}
	}

	&__icon {
		width: 216px;
		height: 216px;
		float: right;
		background-repeat: no-repeat;
		background-position: 0 0;
		margin-left: 128px;

		&_wash {
			background-image: url(../img/icon-prod-01.png);
		}
		&_inspect {
			background-image: url(../img/icon-prod-02.png);
		}
		&_cut {
			background-image: url(../img/icon-prod-03.png);
		}
		&_dry {
			background-image: url(../img/icon-prod-04.png);
		}
		&_inspect2 {
			background-image: url(../img/icon-prod-05.png);
		}
		&_packet {
			background-image: url(../img/icon-prod-06.png);
		}

		.prod-icons__list-item:nth-child(2n) & {
			float: left;
			margin-left: 0;
			margin-right: 80px;
		}
	}

	&__list-item-name {
		.font(2.25rem, @text, 15px);
		.light();
		margin-top: 26px;
	}

	&__list-item-text {
		.font(1.3125rem, @text);
		.light();
		line-height: 1.32;
	}
}

