// TABLE OF CONTENTS
// 1. Prod text


// PROD TEXT
.prod-text {
	margin-bottom: 80px;
	margin-top: 90px;

	&__image {
		float: right;
		width: 50%;
	}

	&__img {
		max-width: 100%;
	}

	&__content {
		float: left;
		width: 45%;
	}

	&__name {
		.font(2.8125rem, @text, 14px);
		.light();
	}

	&__info {
		.font(1.3125rem, @text, 32px);
		line-height: 1.28;
		.light();
	}
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {
	.prod-text {
		margin-bottom: 80px;
		margin-top: 90px;

		&__image {
			float: none;
			width: 100%;
		}

		&__img {
			max-width: 100%;
			width: 100%;
		}

		&__content {
			float: none;
			width: 100%;
		}

		&__name {
			text-align: center;
		}

		&__info {
			.font(1.5rem, @text, 32px);
			line-height: 1.28;
			text-align: center;
		}
	}
}