// TABLE OF CONTENTS
// 1. Prod slider block
// 2. Prod slider (slick)


// PROD SLIDER BLOCK
.prod-slider-block {
	margin-bottom: 117px;
	margin-top: 38px;

	&__name {
		.font(3rem, @text, 20px);
		.light();
		text-align: center;
	}

	&__text {
		.font(1.3125rem, @text, 40px);
		.light();
		text-align: center;
		max-width: 825px;
		margin-left: auto;
		margin-right: auto;
		line-height: 1.32;

	}
}

// PROD SLIDER (SLICK)
.prod-slider {
	height: 480px;
	overflow: hidden;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 500px;
		height: 100%;
		z-index: 100;
		background: rgba(255,255,255,1);
		background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,146,10,0) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(255,146,10,0)));
		background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,146,10,0) 100%);
		background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,146,10,0) 100%);
		background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,146,10,0) 100%);
		background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,146,10,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ff920a', GradientType=1 );
	}
	&:after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: 500px;
		height: 100%;
		z-index: 100;
		background: rgba(255,146,10,0);
		background: -moz-linear-gradient(left, rgba(255,146,10,0) 0%, rgba(255,255,255,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,146,10,0)), color-stop(100%, rgba(255,255,255,1)));
		background: -webkit-linear-gradient(left, rgba(255,146,10,0) 0%, rgba(255,255,255,1) 100%);
		background: -o-linear-gradient(left, rgba(255,146,10,0) 0%, rgba(255,255,255,1) 100%);
		background: -ms-linear-gradient(left, rgba(255,146,10,0) 0%, rgba(255,255,255,1) 100%);
		background: linear-gradient(to right, rgba(255,146,10,0) 0%, rgba(255,255,255,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff920a', endColorstr='#ffffff', GradientType=1 );
	}
	&__item {
		height: 480px !important;
		margin: 0 12px;
	}

	&__item-bg {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		height: 480px !important;
	}
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {
	// PROD SLIDER BLOCK
	.prod-slider-block {
		margin-bottom: 90px;
		margin-top: 0;

		&__name {
			.font(3rem, @text, 20px);
		}

		&__text {
			.font(1.6875rem, @text, 30px);
		}
	}
}