// TABLE OF CONTENTS
// 1. Order block

//ORDER BLOCK
.order-block {
	margin-bottom: 150px;
	&__name {
		.font(2.8125rem, @text, 22px);
		.light();
		text-align: center;
	}

	&__text {
		.font(1.3125rem, @text);
		.light();
		line-height: 1.5;
		max-width: 680px;
		text-align: center;
		margin: 0 auto 30px;

		a {
			.font(inherit, @green-text-color);
			.light();
			text-decoration: none;
			border-bottom: 1px dashed @green-text-color;
			display: inline-block;
			line-height: 1;
			&:hover {
				border-bottom: 0;
			}
		}
	}

	&__list {
		text-align: center;
		margin-bottom: 30px;
	}

	&__item {
		width: 308px;
		display: inline-block;
		margin-right: 24px;
		vertical-align: top;
		.box-sizing(border-box);
		border: 1px solid #e6e6e6;
		text-align: center;
		padding: 32px 24px 24px;
		&:last-child {
			margin-right: 0;
		}

		&_active {
			border-color: @green-text-color;
		}
	}

	&__item-image {
		height: 159px;
		width: 122px;
		margin: 0 auto 33px;
		position: relative;
	}

	&__item-img {
		position: absolute;
		bottom: 0;
		left: 0;
		max-width: 100%;
	}

	&__item-name {
		.font(1.125rem, @text, 16px);
		text-align: center;
		.regular();
		text-transform: uppercase;
	}

	&__item-price-caption {
		.font(1.125rem, @text, 3px);
		text-align: center;
		.light();
	}

	&__item-price {
		.font(1.6878rem, @green-text-color, 30px);
		text-align: center;
		.bold();
	}

	&__item-price-cur {
		.font(inherit, inherit);
		.regular();
	}

	// COUNTER
	&__item-counter {
		background-color: #b2b4b3;
		border-radius: 3px;
		padding: 3px;
		text-align: left;
		.order-block__item_active & {
			background-color: @green-text-color;
		}
	}
	&__item-counter-caption {
		.font(1.125rem, white);
		line-height: 1.7;
		.light();
		margin-left: 12px;
	}
	&__item-counter-right {
		float: right;
		text-align: right;
	}
	&__item-counter-value {
		.font(1.5rem, white);
		.light();
		display: inline-block;
		vertical-align: middle;
		margin-right: 13px;
		height: 30px;
		line-height: 1.35;

	}
	&__item-counter-control {
		display: inline-block;
		vertical-align: middle;
	}
	&__item-counter-control-btn {
		display: block;
		padding: 0;
		border: 0;
		text-align: center;
		width: 14px;
		height: 14px;
		background: url(../img/iconpack.png) no-repeat 0 0;
		margin-bottom: 2px;
		cursor: pointer;

		&_plus {
			background-position: -125px -175px;
		}
		&_minus {
			background-position: -125px -191px;
			margin-bottom: 0;
		}
	}

	// TOTAL
	&__total {
		text-align: center;
	}
	&__total-text {
		.font(1.125rem, @text, 26px);
		.light();
	}
	&__total-text-price {
		.font(1.6875rem, @green-text-color);
		.bold();
		display: inline-block;
		margin-left: 10px;
	}
	&__total-text-price-cur {
		.font(1.6875rem, @green-text-color);
		.regular();
	}
	&__total-button {
		text-align: center;
	}


}

@media screen and (max-width: 1024px) {
	//ORDER BLOCK
	.order-block {

		&__item {
			width: 32%;
			margin-right: 2%;
			padding-left: 10px;
			padding-right: 10px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	//ORDER BLOCK
	.order-block {

		&__text {
			.font(1.5rem, @text, 30px);
		}

		&__item {
			width: 100%;
			margin-right: 0;
			margin-bottom: 24px;
			border: 0;
			border-bottom: 1px solid #e6e6e6;
		}

		&__item-image {
			height: auto;
			display: inline-block;
			width: 50%;
			vertical-align: bottom;
			margin-bottom: 0;
			text-align: center;
		}

		&__item-img {
			position: static;
		}

		&__item-other {
			display: inline-block;
			width: 45%;
			vertical-align: bottom;
			margin-bottom: 5px;
		}

		&__item-name {
			.font(1.5rem, @text, 16px);
			text-align: left;
		}

		&__item-price-caption {
			.font(1.5rem, @text, 3px);
			text-align: left;
		}

		&__item-price {
			.font(2.25rem, @green-text-color, 20px);
			text-align: left;
		}
	}
}
