.contacts-wrapper {
	background: white;
}
.contacts-content {
	padding: 34px 0 152px;
	&__left-side {
		display: inline-block;
		vertical-align: top;
		width: 33%;
		margin-right: 2%;
		.box-sizing(border-box);
	}
	&__title {
		.light();
		.font(3.375rem, @text, 29px);
	}
	&__name {
		.light();
		.font(1.125rem, @text, 34px);
		margin-left: 8px;
	}
	&__right-side {
		display: inline-block;
		vertical-align: top;
		width: 65%;
		height: 504px;
	}
}

.address {
	margin-bottom: 36px;
	margin-left: 8px;
	&__title {
		.regular();
		.font(1.3125rem, @text, 7px);
	}
	&__info {
		.light();
		.font(1.125rem, @text, 9px);
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.sale-box {
	margin-bottom: 36px;
	margin-left: 8px;
	&__title {
		.regular();
		.font(1.3125rem, @text, 7px);
	}
	&__email {
		display: inline-block;
		.light();
		.font(1.3125rem, @blue-text-color, 7px);
		.transition(all 0.15s ease);
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	&__info {
		.light();
		.font(1.125rem, @text, 7px);
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.development-box {
	margin-bottom: 36px;
	margin-left: 8px;
	&__title {
		.regular();
		.font(1.3125rem, @text, 7px);
	}
	&__email {
		display: inline-block;
		.light();
		.font(1.3125rem, @blue-text-color, 7px);
		.transition(all 0.15s ease);
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	&__info {
		.light();
		.font(1.125rem, @text, 7px);
		&:last-child {
			margin-bottom: 0;
		}
	}
}

@media screen and (max-width: 980px) {
	.contacts-content {
		&__left-side {
			width: 100%;
			margin-right: 0;
		}
		&__right-side {
			width: 100%;
			height: 522px;
		}
	}
}

@media screen and (max-width: 768px) {
	.contacts-content {
		&__title {
			font-size: 3.375rem;
		}
		&__name {
			font-size: 1.5rem;
		}
	}

	.address {
		&__title {
			font-size: 1.6875rem;
		}
		&__info {
			font-size: 1.5rem;
		}
	}

	.sale-box {
		&__email {
			font-size: 1.5rem;
		}
		&__title {
			font-size: 1.6875rem;
		}
		&__info {
			font-size: 1.5rem;
		}
	}

	.development-box {
		display: none;
	}
}

