// cultural-values-content
.cultural-values-wrapper {
	background: white;
}
.cultural-values {
	padding: 105px 0 122px;
	&__title {
		text-align: center;
		.light();
		.font(2.8125rem, @text, 12px);
	}
	&__sub-title {
		text-align: center;
		.light();
		.font(1.3125rem, @text, 46px);
	}
}
.icon-content {
	text-align: center;
	margin-bottom: 77px;
	&__item {
		display: inline-block;
		vertical-align: top;
		width: 216px;
		margin: 0 52px;
	}
	&__info {
		.light();
		.font(1.3125rem, @text);
	}
	.icon-e {
		margin-bottom: 12px;
	}
}
.about-content {
	&__image {
		vertical-align: middle;
		float: left;
		width: 598px;
		height: 576px;
	}
	&__info {
		margin-left: 633px;
	}
	&__title {
		.light();
		.font(2.25rem, @text, 43px);
		line-height: 1;
	}
	&__text {
		.light();
		.font(1.125rem, @text);
		line-height: 1.5;
		&_last {
			margin-bottom: 13px;
		}
	}
	&__text-att {
		.regular();
		.font(1.3125rem, @text);
	}
}



@media screen and (max-width: 1110px) {
	.about-content {
		&__image {
			margin-right: 22px;
			width: 480px;
			height: 463px;
		}
		&__info {
			margin-left: 502px;
		}
	}
}

@media screen and (max-width: 940px) {
	.icon-content {
		&__item {
			margin: 0 10px 20px;
		}
	}
	.about-content {
		&__image {
			display: none;
		}
		&__info {
			margin-left: 0;
		}
	}
}

@media screen and (max-width: 768px) {
	.cultural-values {
		&__sub-title {
			font-size: 1.6875rem;
			line-height: 1.5;
		}
	}
	.icon-content {
		&__info {
			font-size: 1.5rem;
		}
	}
	.about-content {
		&__text {
			font-size: 1.5rem;
		}
		&__text-att {
			font-size: 1.6875rem;
		}
	}
}

@media screen and (max-width: 721px) {
	.icon-content {
		&__item {
			margin: 0 0 35px;
		}
	}
}