// history-content
.history-wrapper {
	background: #edf3ec;
	position: relative;
	.fade-bg(#edf3ec, 100px);
}
.history-content {
	padding: 48px 0 70px;
	&__title {
		text-align: center;
		.regular();
		.font(1.6875rem, @text, 40px);
	}
	&__info {}
	&__info-block {}
	&__info-text {
		line-height: 1.5;
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
		.light();
		.font(1.125rem, @text);
	}
}

@media screen and (max-width: 1420px) {
	// history-content
	.history-wrapper {
		.fade-bg(#edf3ec, 180px);

	}
	.history-content {
		padding-right: 150px;
		padding-left: 150px;
	}
}

@media screen and (max-width: 990px) {
	// history-content
	.history-wrapper {
		&:before {
			display: none;
		}
		&:after {
			display: none;
		}

	}
	.history-content {
		padding-right: 40px;
		padding-left: 40px;
		&__info-text {
			text-align: center;
			-moz-column-count: 1;
			-webkit-column-count: 1;
			column-count: 1;
		}
	}
}

@media screen and (max-width: 768px) {
	.history-content {
		&__title {
			font-size: 2.25rem;
		}
		&__info-text {
			font-size: 1.6875rem;
		}
	}
}

@media screen and (max-width: 400px) {
	.history-content {
		padding-right: 12px;
		padding-left: 12px;
		&__info-text {
			font-size: 1.3rem;
			text-align: left;
		}
	}
}