// honor-content
.honor-wrapper {
	background: #edf3ec;
	position: relative;
	padding: 43px 0 54px;
	text-align: center;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 165px;
		height: 100%;
		background: rgba(255,255,255,1);
		background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,146,10,0) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(255,146,10,0)));
		background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,146,10,0) 100%);
		background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,146,10,0) 100%);
		background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,146,10,0) 100%);
		background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,146,10,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ff920a', GradientType=1 );
	}
	&:after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: 165px;
		height: 100%;
		background: rgba(255,146,10,0);
		background: -moz-linear-gradient(left, rgba(255,146,10,0) 0%, rgba(255,255,255,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,146,10,0)), color-stop(100%, rgba(255,255,255,1)));
		background: -webkit-linear-gradient(left, rgba(255,146,10,0) 0%, rgba(255,255,255,1) 100%);
		background: -o-linear-gradient(left, rgba(255,146,10,0) 0%, rgba(255,255,255,1) 100%);
		background: -ms-linear-gradient(left, rgba(255,146,10,0) 0%, rgba(255,255,255,1) 100%);
		background: linear-gradient(to right, rgba(255,146,10,0) 0%, rgba(255,255,255,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff920a', endColorstr='#ffffff', GradientType=1 );
	}
}
.honor-content {
	&__title {
		.light();
		.font(2.8125rem, @text, 35px);
	}
}
.honor-list {
	text-align: center;
	&__item {
		max-width: 170px;
		width: 170px;
		min-width: 170px;
		display: inline-block;
		margin: 0 22px 55px;
	}
	&__honor-image {
		vertical-align: middle;
		margin-bottom: 27px;
		-webkit-box-shadow: 5px 5px 5px 0px rgba(188,195,181,1);
		-moz-box-shadow: 5px 5px 5px 0px rgba(188,195,181,1);
		box-shadow: 5px 5px 5px 0px rgba(188,195,181,1);
	}
	&__info {
		.regular();
		.font(1.125rem, @text, 4px);
	}
	&__year {
		.light();
		.font(1.125rem, @text);
	}
}

@media screen and (max-width: 1024px) {
	.honor-wrapper {
		&:before {
			width: 95px;
		}
		&:after {
			width: 95px;
		}
	}
}

@media screen and (max-width: 980px) {
	.honor-wrapper {
		padding-right: 25px;
		padding-left: 25px;
		&:before {
			display: none;
		}
		&:after {
			display: none;
		}
	}
}