// news-content
.about-news-wrapper {
	background: white;
	padding: 86px 0 42px;
	text-align: center;
}
.news-content {
	&__title {
		.light();
		.font(2.8125rem, @text, 26px);
	}
	&__list {
		padding-bottom: 54px;
		border-bottom: 1px solid #e1ebdd;
	}
	&__item {
		width: 32%;
		display: inline-block;
		vertical-align: top;
		margin-right: 2%;
		&:last-child {
			margin-right: 0;
		}
	}
	&__img-link {
		display: block;
		width: 100%;
		height: 252px;
		background: url("../../../img/about-news-01.jpg");
		background-size: cover;
		margin-bottom: 19px;
		&:hover {}
	}
	&__news-title {
		text-align: left;
		display: block;
		text-decoration: none;
		.bold();
		.font(1.3125rem, @text, 13px);
		&:hover {}
	}
	&__news-info {
		text-align: left;
		.light();
		.font(1.125rem, @text);
		line-height: 1.35;
	}
	&__archiv {
		float: right;
		text-transform: uppercase;
		text-decoration: none;
		vertical-align: middle;
		.regular();
		.font(1rem, @blue-text-color);
		margin-top: 10px;
		&:hover {
			text-decoration: underline;
		}
	}
	.icon-archiv-arrow {
		margin-left: 10px;
		vertical-align: top;
	}
}





@media screen and (max-width: 980px) {
	.news-content {
		&__item {
			width: 100%;
			margin-right: 0;
			margin-bottom: 70px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		&__img-link {
			display: none;
		}
	}
}

@media screen and (max-width: 768px) {
	.news-content {
		&__title {
			font-weight: 3.375rem;
		}
		&__news-title {
			font-size: 1.6875rem;
		}
		&__news-info {
			font-size: 1.5rem;
		}
		&__archiv {
			font-size: 1.5rem;
		}
		.icon-archiv-arrow {
			width: 21px;
			height: 21px;
			background: url(../img/iconpack.png) no-repeat -216px -40px;
		}
	}
}