// TABLE OF CONTENTS
// 1. Main page

// BODY
.body_main {
	overflow-y: hidden;

}

// MAIN PAGE
.mainpage {
	height: 5889px;
	background: url(../img/mainpage-bg.jpg) no-repeat 0 0;
	.transition(all 1s ease);
	padding-bottom: 276px;
	position: relative;

	&__bg {
		max-width: 100%;
		min-width: 1024px;
	}


	.footer-wrapper {
		position: absolute;
		z-index: 10;
		left: 0;
		right: 0;
		bottom: 0;
	}

}

// ANIMATIONS
.anim1 {
	width: 532px;
	height: 720px;
	background: url(../img/animations/anim-1.png) no-repeat 0 0;
	top: 757px;
	left: 50%;
	position: absolute;

	&.frame_1 {background-position: -532px 0;}
	&.frame_2 {background-position: -1064px 0;}
	&.frame_3 {background-position: -1596px 0;}
	&.frame_4 {background-position: -2128px 0;}
	&.frame_5 {background-position: -2660px 0;}
	&.frame_6 {background-position: -3192px 0;}
	&.frame_7 {background-position: -3724px 0;}
	&.frame_8 {background-position: -4256px 0;}
	&.frame_9 {background-position: -4788px 0;}
	&.frame_10 {background-position: -5320px 0;}
	&.frame_11 {background-position: -5852px 0;}
	&.frame_12 {background-position: -6384px 0;}
	&.frame_13 {background-position: -6916px 0;}
	&.frame_14 {background-position: -7448px 0;}
	&.frame_15 {background-position: -7980px 0;}
}

.anim2 {
	width: 535px;
	height: 392px;
	background: url(../img/animations/anim-2.png) no-repeat 0 0;
	top: 2417px;
	left: 0;
	position: absolute;

	&.frame_1 {background-position: -535px 0;}
	&.frame_2 {background-position: -1070px 0;}
	&.frame_3 {background-position: -1605px 0;}
	&.frame_4 {background-position: -2140px 0;}
	&.frame_5 {background-position: -2675px 0;}
	&.frame_6 {background-position: -3210px 0;}
	&.frame_7 {background-position: -3745px 0;}
}

.anim3 {
	width: 269px;
	height: 290px;
	background: url(../img/animations/anim-3.png) no-repeat 0 0;
	top: 3832px;
	left: 75%;
	position: absolute;

	&.frame_1 {background-position: -269px 0;}
	&.frame_2 {background-position: -538px 0;}
	&.frame_3 {background-position: -807px 0;}
}

.camera {
	width:501px;
	height: 535px;
	background: url(../img/animations/camera.png) no-repeat 0 0;
	top: 5327px;
	left: 100px;
	position: absolute;
	z-index: 11;
}


.anim4 {
	width: 279px;
	height: 328px;
	background: url(../img/animations/photo.png) no-repeat 0 0;
	top: 5372px;
	left: 183px;
	position: absolute;
	z-index: 6;
	.transition(all 1s ease);

	&_active {
		top: 5161px;
		left: 83px;
	}
}


// TEXT BLOCK
.main-text-block {
	max-width: 750px;
	text-align: center;
	position: relative;
	left: 50%;
	margin-left: -375px;

	&_1 {
		top: 400px;
	}
	&_2 {
		top: 1358px;
	}
	&_3 {
		top: 2349px;
	}
	&_4 {
		top: 3239px;
	}
	&_5 {
		top: 4289px;
	}

	&__p {
		.font(2.625rem, white, 35px);
		.bold();
		line-height: 1;
		text-shadow: 2px 2px 4px #330200;
	}

	&__link-p {
		line-height: 1;
	}

	&__link {
		.font(1.5rem, white);
		.bold();
		text-transform: uppercase;
		text-shadow: 1px 1px 3px #330200;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

@media screen and (max-width: 1024px) {
	// TEXT BLOCK
	.main-text-block {
		max-width: 510px;
		left: 50%;
		margin-left: -255px;

		&_1 {
			top: 400px;
		}
		&_2 {
			top: 1358px;
		}
		&_3 {
			top: 2349px;
		}
		&_4 {
			top: 3239px;
		}
		&_5 {
			top: 4289px;
		}

		&__p {
			.font(1.875rem, white, 35px);
			.bold();
		}

		&__link {
			.font(1.125rem, white);
			.bold();
		}
	}
}

@media screen and (max-width: 768px) {
	.anim1 {
		display: none;
	}
	.anim2 {
		display: none;
	}
	.anim3 {
		display: none;
	}
	.anim4 {
		display: none;
	}
}

