// TABLE OF CONTENTS
// 1. Plus block wrapper
// 2. Plus block

// PLUS BLOCK WRAPPER
.plus-block-wrapper {
	padding: 33px 0 54px;
	.fade-bg(@brown-footer-bg, 340px);
	margin-bottom: 63px;
	margin-top: 19px;
}

// PLUS BLOCK
.plus-block {
	position: relative;

	&__icon {
		position: absolute;
		left: 50%;
		margin-left: -33px;
		top: -71px;
		width: 65px;
		height: 65px;
		background: url(../img/iconpack.png) no-repeat -25px -175px
	}

	&__name {
		.font(1.6875rem, @text, 17px);
		margin-top: 3px;
		.regular();
		text-align: center;
	}

	&__text {
		.font(1.3125rem, @text);
		.light();
		text-align: center;
		max-width: 560px;
		line-height: 1.32;
		margin: 0 auto 57px;
	}

	&__list {
		text-align: center;
	}

	&__list-item {
		vertical-align: top;
		display: inline-block;
		width: 25%;
		padding: 0 20px;
		.box-sizing(border-box);
	}

	&__list-item-icon-holder {
		text-align: center;
		margin-bottom: 22px;
	}

	&__list-item-icon {
		height: 57px;
		display: inline-block;
		background-image: url(../img/iconpack.png);
		background-repeat: no-repeat;

		&_1 {
			background-position: -25px -100px;
			width: 65px;
		}
		&_2 {
			background-position: -125px -100px;
			width: 59px;
		}
		&_3 {
			background-position: -225px -100px;
			width: 58px;
		}
		&_4 {
			background-position: -325px -100px;
			width: 50px;
		}
	}

	&__list-item-text {
		.font(1.3125rem, #70807a);
		.light();
		line-height: 1;
	}

}


@media screen and (max-width: 1024px) {
	// PLUS BLOCK WRAPPER
	.plus-block-wrapper {
		background: @brown-footer-bg;
		&:before{
			background: none;
		}
		&:after {
			background: none;
		}
	}
}

@media screen and (max-width: 768px) {
	// PLUS BLOCK
	.plus-block {

		&__name {
			.font(2.25rem, @text, 17px);
			padding-top: 7px;
		}

		&__text {
			.font(1.6875rem, @text, 52px);
		}

		&__list {
			text-align: center;
		}

		&__list-item {
			width: 50%;
			margin-bottom: 40px;
		}

		&__list-item-text {
			.font(1.5rem, #70807a);
		}

	}
}