// TABLE OF CONTENTS
// 1. Products


.products {
	margin-bottom: 134px;
	&__item {
		margin-bottom: 50px;
	}

	&__item-image {
		float: left;
		width: 56%;

		.products__item:nth-child(2n) & {
			float: right;
		}
	}

	&__item-content {
		margin-top: 118px;
		margin-left: 56%;

		.products__item:nth-child(2n) & {
			margin-right: 56%;
			margin-left: 0;
		}
	}

	&__item-img {
		max-width: 100%;
	}

	&__item-name {
		.font(2.25rem, @text, 13px);
		.light();
		line-height: 1;
	}

	&__item-name-break {
		display: block;
		height: 1px;
	}

	&__item-text {
		.font(1.3125rem, @text, 23px);
		.light();
		line-height: 1.35;
	}

	&__item-more {
		border-top: 1px solid #eaf0e7;
		padding-top: 17px;
	}

	&__item-more-link {
		.font(1rem, @green-text-color);
		text-transform: uppercase;
		height: 18px;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
		&:after {
			content: "";
			display: inline-block;
			vertical-align: top;
			margin-left: 8px;
			width: 14px;
			height: 14px;
			background: url(../img/more-arrow.png) no-repeat 0 0;
		}
	}

}

@media screen and (max-width: 1024px) {
	.products {
		&__item {
			margin-bottom: 100px;
		}
	}
}

@media screen and (max-width: 768px) {
	.products {

		&__item-image {
			float: none;
			width: 100%;
			text-align: center;

			.products__item:nth-child(2n) & {
				float: none;
			}
		}

		&__item-content {
			margin-top: 0;
			margin-left: 0;

			.products__item:nth-child(2n) & {
				margin-right: 0;
				margin-left: 0;
			}
		}

		&__item-name {
			.font(2.8125rem, @text, 25px);
		}

		&__item-name-break {
			display: none;
		}

		&__item-text {
			.font(1.5rem, @text, 48px);
			.light();
			line-height: 1.35;
		}

		&__item-more-link {
			.font(1.5rem, @green-text-color);
			height:24px;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
			&:after {
				top: -2px;
				margin-left: 14px;
				width: 24px;
				height: 24px;
				background: url(../img/more-arrow_sbig.png) no-repeat 0 0;
			}
		}

	}
}


