.reference-press-wrapper {
	padding-top: 82px;
}

.reference-content {
	padding-bottom: 155px;
	&__title {
		.light();
		.font(3.375rem, @text, 49px);
		text-align: center;
	}
	&__archiv {
		float: right;
		text-transform: uppercase;
		text-decoration: none;
		vertical-align: middle;
		.regular();
		.font(1rem, @blue-text-color);
		margin-top: 10px;
		&:hover {
			text-decoration: underline;
		}
	}
	.icon-archiv-arrow {
		margin-left: 10px;
		vertical-align: top;
	}
}

.reference-list {
	border-bottom: 1px solid #e1ebdd;
	text-align: center;
	&__item {
		display: inline-block;
		margin-left: 0;
		width: 954px;
		.box-sizing(border-box);
		padding-bottom: 37px;
		border-bottom: 1px solid #e1ebdd;
		margin-bottom: 26px;
		&:last-child {
			border-bottom: 0;
		}
		&_web-article {
			.reference-list__image {
				box-shadow: none;
				margin-right: 0;
			}
			.reference-list__read-more {
				color: @blue-text-color;
			}
		}
	}
	&__img-box {
		width: 287px;
		margin-right: 48px;
		display: inline-block;
		text-align: right;
	}
	&__image {
		margin-right: 28px;
		vertical-align: middle;
		box-shadow: 5px 5px 5px 0 #bcc3b5;
	}
	&__right-info {
		text-align: left;
		display: inline-block;
		vertical-align: bottom;
		padding-bottom: 10px;
	}
	&__date {
		.light();
		.font(1rem, @text, 3px);
	}
	&__name {
		.regular();
		.font(1.6875rem, @text, 6px);
	}
	&__about {
		width: 590px;
		.light();
		.font(1.125rem, @text, 31px);
		line-height: 1.4;
	}
	&__read-more {
		.regular();
		.font(1rem, #e86260);
		text-transform: uppercase;
		text-decoration: none;
		&:hover {}
	}
	&__link-att {
		vertical-align: middle;
	}
	.icon-e {
		margin-right: 17px;
	}
}

@media screen and (max-width: 1000px) {
	.reference-list {
		&__item {
			display: block;
			width: 100%;
		}
		&__img-box {
			margin-right: 0;
			display: none;
		}
		&__about {
			width: 100%;
		}
		&__right-info {
			display: block;
		}
	}
}

@media screen and (max-width: 980px) {
	.reference-press-wrapper {
		padding-left: 27px;
		padding-right: 27px;
	}
}

@media screen and (max-width: 768px) {
	.reference-content {
		&__archiv {
			font-size: 1.5rem;
		}
		.icon-archiv-arrow {
			width: 21px;
			height: 21px;
			background: url(../img/iconpack.png) no-repeat -216px -40px;
		}
	}
	.reference-list {
		&__date {
			font-size: 1.3125rem;
		}
		&__about {
			font-size: 1.5rem;
		}
		&__read-more {
			font-size: 1.5rem;
		}
	}
}

@media screen and (max-width: 360px) {
	.reference-content {
		&__title {
			font-size: 3rem;
		}
	}
}