// TABLE OF CONTENTS
// 1. Video press content
// 2. Video sector
// 3. Video list


// VIDEO PRESS CONTENT
.video-press-content {
	padding-top: 42px;
}


// VIDEO SECTOR
.video-sector {
	&__title {
		.light();
		.font(2.8125rem, @text, 40px);
		text-align: center;
	}
	&__archiv {
		float: right;
		text-transform: uppercase;
		text-decoration: none;
		vertical-align: middle;
		.regular();
		.font(1rem, @blue-text-color);
		margin-top: 10px;
		&:hover {
			text-decoration: underline;
		}
	}
	.icon-archiv-arrow {
		margin-left: 10px;
		vertical-align: top;
	}
}


// VIDEO LIST
.video-list {
	border-bottom: 1px solid #e1ebdd;
	padding-bottom: 60px;
	&__item {
		width: 32%;
		display: inline-block;
		vertical-align: top;
		margin-right: 2%;
		margin-bottom: 4%;
		&:nth-child(3n) {
			margin-right: 0;
		}
	}
	&__area {
		position: relative;
		width: 100%;
		height: 216px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		margin-bottom: 21px;
	}
	.icon-play {
		position: absolute;
		cursor: pointer;
		top: 50%;
		margin-top: -24px;
		left: 50%;
		margin-left: -24px;
		border: 0;
		background-color: transparent;
	}
	&__name {
		text-align: left;
		.bold();
		.font(1.3125rem, @text, 13px);
	}
	&__about {
		text-align: left;
		.light();
		.font(1.125rem, @text);
		line-height: 1.35;
	}
}


@media screen and (max-width: 1024px) {
	// VIDEO LIST
	.video-list {
		&__area {
			height: 171px;
		}
	}
}

@media screen and (max-width: 768px) {
	.video-sector {
		&__title {
			font-size: 3.375rem;
		}
		&__archiv {
			font-size: 1.5rem;
		}
		.icon-archiv-arrow {
			width: 21px;
			height: 21px;
			background: url(../img/iconpack.png) no-repeat -216px -40px;
		}
	}
	// VIDEO LIST
	.video-list {
		&__item {
			width: 48%;
			margin-right: 4%;
			&:nth-child(3n) {
				margin-right: 4%;
			}
			&:nth-child(2n) {
				margin-right: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}

		&__area {
			height: 198px;
		}


		&__name {
			font-size: 1.6875rem;
		}
		&__about {
			font-size: 1.3125rem;
		}
	}
}

@media screen and (max-width: 480px) {
	// VIDEO LIST
	.video-list {
		&__item {
			width: 100%;
			margin-right: 0;
			&:nth-child(3n) {
				margin-right: 0;
			}
			&:nth-child(2n) {
				margin-right: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
}