.news-press-wrapper {
	background: white;
	padding: 0 0 42px;
	text-align: center;
}
.news-press-content {
	&__archiv {
		float: right;
		text-transform: uppercase;
		text-decoration: none;
		vertical-align: middle;
		.regular();
		.font(1rem, @blue-text-color);
		margin-top: 10px;
		&:hover {
			text-decoration: underline;
		}
	}
	.icon-archiv-arrow {
		margin-left: 10px;
		vertical-align: top;
	}
}
.news-list {
	border-bottom: 1px solid #e1ebdd;
	&__item {
		width: 32%;
		display: inline-block;
		vertical-align: top;
		margin-right: 2%;
		margin-bottom: 52px;
		&:nth-child(3n) {
			margin-right: 0;
		}
	}
	&__img-link {
		display: block;
		width: 100%;
		height: 252px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		margin-bottom: 19px;
		&:hover {}
	}
	&__title {
		text-align: left;
		display: block;
		text-decoration: none;
		.bold();
		.font(1.3125rem, @text, 13px);
		&:hover {}
	}
	&__info {
		text-align: left;
		.light();
		.font(1.125rem, @text);
		line-height: 1.35;
	}
}

@media screen and (max-width: 1024px) {
	.news-list {
		&__img-link {
			height: 198px;
		}
	}
}

@media screen and (max-width: 768px) {
	.news-press-content {
		&__archiv {
			font-size: 1.5rem;
		}
		.icon-archiv-arrow {
			width: 21px;
			height: 21px;
			background: url(../img/iconpack.png) no-repeat -216px -40px;
		}
	}
	.news-list {
		&__item {
			width: 48%;
			margin-right: 4%;
			&:nth-child(3n) {
				margin-right: 4%;
			}
			&:nth-child(2n) {
				margin-right: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}
		&__img-link {
			height: 234px;
		}

		&__title {
			font-size: 1.6875rem;
		}
		&__info {
			font-size: 1.3125rem;
		}
	}
}

@media screen and (max-width: 480px) {
	.news-list {
		&__item {
			width: 100%;
			margin-right: 0;
			&:nth-child(3n) {
				margin-right: 0;
			}
			&:nth-child(2n) {
				margin-right: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}
		&__img-link {
			height: 234px;
		}
	}
}