// TABLE OF CONTENTS
// 1. Apple text
// 2. Labels


// APPLE TEXT
.apple-text {
	margin-bottom: 52px;

	&__image {
		float: left;
		width: 50%;
	}

	&__img {
		max-width: 100%;
	}

	&__content {
		margin-left: 52%;
	}

	&__name {
		.font(2.8125rem, @text, 27px);
		margin-top: 40px;
		.light();
	}

	&__info {
		.font(1.3125rem, @text, 32px);
		line-height: 1.28;
		.light();
	}
}


// LABELS
.labels {

	&__name {
		.font(1.6875rem, @text, 27px);
		.regular();
	}

	&__vitamins {
		margin-bottom: 16px;
	}

	&__vitamin {
		display: inline-block;
		width: 35px;
		height: 35px;
		text-align: center;
		.font(1rem, white);
		.bold();
		margin-right: 1px;
		vertical-align: top;
		line-height: 38px;
		border-radius: 50%;

		&_a {background-color: #ff621f;}
		&_b1 {background-color: #45995e;}
		&_b2 {background-color: #54b350;}
		&_b3 {background-color: #60cc5c;}
		&_b6 {background-color: #6bcc33;}
		&_b9 {background-color: #9ecc33;}
		&_c {background-color: #ffb700;}
		&_e {background-color: #cca13d;}
		&_h {background-color: #649ce6;}
		&_pp {background-color: #bb6ead;}
	}

	&__minerals {
		border-bottom: 1px solid #e1ebdd;
		padding-bottom: 27px;
	}

	&__mineral {
		display: inline-block;
		width: 32px;
		height: 32px;
		text-align: center;
		.font(1rem, white);
		.bold();
		margin-right: 5px;
		vertical-align: top;
		line-height: 35px;
		border-radius: 4px;

		&_pink {background-color: #ff6f59;}
		&_blue {background-color: #81aecc;}
		&_yellow {background-color: #e5cd17;}
	}

	&__more {
		margin-top: 15px;
	}

	&__more-link {
		.font(1rem, @green-text-color);
		text-transform: uppercase;
		height: 18px;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
		&:after {
			content: "";
			display: inline-block;
			vertical-align: top;
			margin-left: 8px;
			width: 14px;
			height: 14px;
			background: url(../img/more-arrow.png) no-repeat 0 0;
		}
	}
}


@media screen and (max-width: 1024px) {
	.labels {
		&__vitamin {
			margin-right: 13px;
			margin-bottom: 19px;
		}

		&__mineral {
			margin-right: 13px;
			margin-bottom: 19px;
		}
	}
}

@media screen and (max-width: 768px) {
	// APPLE TEXT
	.apple-text {
		margin-bottom: 100px;
		&__image {
			display: none;
		}

		&__content {
			margin-left: 0;
		}

		&__name {
			.font(3.375rem, @text, 27px);
		}

		&__info {
			.font(1.6875rem, @text, 32px);
		}
	}

	// LABELS
	.labels {

		&__name {
			.font(2.25rem, @text, 27px);
		}

		&__vitamins {
			margin-bottom: 16px;
			max-width: 360px;
		}

		&__vitamin {
			width: 52px;
			height: 52px;
			.font(1.5rem, white);
			margin-right: 13px;
			margin-bottom: 19px;
			line-height: 55px;
		}

		&__minerals {
			max-width: 440px;
		}

		&__mineral {
			display: inline-block;
			width: 49px;
			height: 49px;
			.font(1.5rem, white);
			margin-right: 19px;
			line-height: 52px;
			margin-bottom: 19px;
		}

		&__more {
			margin-top: 15px;
		}

		&__more-link {
			.font(1.5rem, @green-text-color);
			height: 21px;

			&:after {
				content: "";
				display: inline-block;
				vertical-align: top;
				margin-left: 8px;
				width: 21px;
				height: 20px;
				background: url(../img/more-arrow_big.png) no-repeat 0 0;
			}
		}
	}
}
