// TABLE OF CONTENTS
// 1. Recipes


// RECIPES
.recipes-block {
	margin-bottom: 146px;

	&__name {
		.font(2.8125rem, @text, 26px);
		.light();
		text-align: left;
	}

	&__items {

	}

	&__item {
		display: inline-block;
		width: 48%;
		margin-right: 4%;
		vertical-align: top;
		height: 400px;
		text-decoration: none;
		position: relative;
		overflow: hidden;

		&:nth-child(2n) {
			margin-right: 0;
		}
	}

	&__item-bg {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center bottom;
		height: 400px;

		&_filter {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 2;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center bottom;
			height: 80px;
			-webkit-filter: blur(5px);
			filter: blur(5px);
		}
	}

	&__item-name {
		position: absolute;
		z-index: 3;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 15px 0;
		.font(1.5rem, #2e3331);
		text-transform: uppercase;
		text-shadow: 1px 1px 0 white;
		.light();
		text-align: center;
		background: rgba(255,255,255,.5);
	}
}

@media screen and (max-width: 1024px) {
	.recipes-block {
		&__item {
			height: 305px;
		}
	}
}

@media screen and (max-width: 768px) {
	// RECIPES
	.recipes-block {
		&__name {
			.font(3.375rem, @text, 26px);
		}

		&__item {
			height:233px;
			overflow: visible;
		}

		&__item-bg {
			height: 233px;

			&_filter {
				display: none;
			}
		}

		&__item-name {
			position: static;
			padding: 0;
			text-shadow: none;
			text-align: left;
			background: none;
			margin-top: 14px;
		}
	}
}


