// TABLE OF CONTENTS
// 1. Sorts wrapper
// 2. Sorts
// 3. Sorts tip

// SORTS WRAPPER
.sorts-wrapper {
	.fade-bg(@green-bg-color);
}

// SORTS
.sorts {
	padding-top: 42px;
	padding-bottom: 62px;
	&__name {
		.font(1.6875rem, @text, 40px);
		.regular();
		text-shadow: 1px 1px 1px white;
		text-align: center;
	}

	&__lists {

	}

	&__list {
		display: inline-block;
		vertical-align: top;
		width: 25%;
		.box-sizing(border-box);
		padding: 0 40px;
	}

	&__list-item {
		margin-bottom: 15px;
		display: block;
	}

	&__list-item-link {
		.font(1.3125rem, #70807a);
		.light();
		text-decoration: none;
		text-shadow: 1px 1px 1px white;
		border-bottom: 1px dashed #70807a;
		&:hover {
			border-bottom: 0;
		}

		&_self {
			.font(1.3125rem, @green-text-color);
			position: relative;
			margin-right: 25px;
			&:after {
				content: "";
				display: block;
				position: absolute;
				right: -21px;
				top: 10px;
				width: 15px;
				height: 15px;
				margin-left: 10px;
				background: url("../img/self-sort.png") no-repeat 0 0;

			}
		}

	}
}

// SORTS TIO
.sorts-tip {
	max-width: 1240px;
	margin: 0 auto;
	padding-bottom: 14px;
	margin-bottom: 117px;
	border-bottom: 1px solid #e1ebdd;
	position: relative;
	z-index: 15;

	&__icon {
		text-align: center;
		display: block;
		margin: -33px auto 0;
		border-radius: 50%;
		background: white url(../img/leaf.png) no-repeat center center;
		width: 65px;
		height: 65px;
	}

	&__text {
		text-align: center;
		margin-top: -4px;
	}

	&__text-p {
		.font(1rem, @text);
		line-height: 1.5;
	}

	&__text-link {
		.font(1rem, @green-text-color);
		line-height: 1.5;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}

@media screen and (max-width: 1024px) {
	// SORTS WRAPPER
	.sorts-wrapper {
		background: @green-bg-color;
		&:before {
			background: none;
		}
		&:after {
			background: none;
		}
	}

	// SORTS
	.sorts {
		&__list {
			padding: 0 10px;
		}
	}
}

@media screen and (max-width: 768px) {
	// SORTS
	.sorts {
		&__name {
			.font(2.25rem, @text, 40px);
			max-width: 432px;
			margin-left: auto;
			margin-right: auto;
		}

		&__list {
			width: 48%;
			&:nth-child(odd) {
				padding-right: 10%;
			}
			&:nth-child(even) {
				padding-left: 10%;
			}

		}

		&__list-item {
			margin-bottom: 15px;
			display: block;
		}

		&__list-item-link {
			.font(1.75rem, #70807a);
			border-bottom: 0;
			text-decoration: underline;

			&_self {
				.font(1.75rem, @green-text-color);
				border-bottom: 0;
				text-decoration: underline;
				&:after {
					content: "";
					display: block;
					position: absolute;
					right: -29px;
					top: 12px;
					width: 21px;
					height: 20px;
					margin-left: 10px;
					background: url("../img/self-sort_big.png") no-repeat 0 0;

				}
			}

		}
	}

	// SORTS TIO
	.sorts-tip {

		&__text {
			text-align: center;
			margin-top: -4px;
			max-width: 340px;
			margin-left: auto;
			margin-right: auto;
		}

		&__text-p {
			.font(1.3125rem, @text);
			.light();
		}

		&__text-link {
			.font(1.3125rem, @green-text-color);
		}
	}
}
