.news-wrapper {}

.news-wrapper {
	&__image {
		width: 598px;
		height: 398px;
		float: right;
		margin: 0 0 7px 7px;
	}
}


@media screen and (max-width: 1024px) {
	.news-wrapper {
		&__image {
			width: 460px;
			height: 306px;
		}
	}
}

// @media screen and (max-width: 980px) {
// 	.news-wrapper {
// 		padding: 0 24px;
// 	}
// }


@media screen and (max-width: 900px) {
	.news-wrapper {
		&__image {
			width: 720px;
			height: 486px;
			margin: 36px 0;
			float: none;
		}
	}
}

@media screen and (max-width: 767px) {
	.news-wrapper {
		&__image {
			width: 100%;
			height: auto;
			margin: 36px 0;
			float: none;
		}
	}
}

