// TABLE OF CONTENTS
// 1. Background block


// BACKGROUND BLOCK
.bg-block {
	&_apple {
		background: url(../img/bg-apple_big.jpg) no-repeat 50% 0;
	}
	&_about {
		background: url(../img/about-recovered.png) no-repeat 50% 0;
	}
	&_production {
		background: url(../img/bg-production_big.jpg) no-repeat 50% 0;
	}
	&_press {
		background: url(../img/bg-press.png) no-repeat 50% 0;
	}
	&_product {
		background: url(../img/bg-product_big.jpg) no-repeat 50% 0;
	}
	&_salary {
		background: url(../img/bg-salary_big.jpg) no-repeat 50% 0;
	}

	&__navigation {
		margin-top: 285px;
		text-align: center;
		margin-bottom: 15px;
		&_press {
			margin-top: 108px;
		}
	}

	&__navigation-link {
		.font(.6875rem, #9ca39b);
		vertical-align: middle;
		display: inline-block;
		text-transform: uppercase;
		.light();
		text-decoration: none;
		margin-right: 10px;

		&:hover {
			text-decoration: underline;
		}
	}

	&__navigation-chevron {
		margin-right: 10px;
		.font(.6875rem, #9ca39b);
		vertical-align: middle;
		display: inline-block;
		text-transform: uppercase;
	}

	&__navigation-point {
		.font(.6875rem, #9ca39b);
		text-transform: uppercase;
		.light();
		vertical-align: middle;
		display: inline-block;
	}

	&__name {
		.font(2.8125rem, @text, 22px);
		text-transform: uppercase;
		text-align: center;
		.light();
		&_press {
			margin-bottom: 27px;

		}
		.bg-block_one-new & {
			max-width: 900px;
			margin-right: auto;
			margin-left: auto;
		}
	}

	&__text {
		.font(1.3125rem, @text, 25px);
		line-height: 1.32;
		text-align: center;
		.light();
		max-width: 785px;
		margin: 0 auto 60px;

		.bg-block_one-new & {
			max-width: 900px;
		}
	}
}

@media screen and (max-width: 870px) {
	.bg-block {
		&_about {
			padding-right: 40px;
			padding-left: 40px;
		}
	}
}


@media screen and (max-width: 768px) {
	.bg-block {
		&_one-new {
			padding-right: 24px;
			padding-left: 24px;
		}
	}
}

@media screen and (max-width: 768px) {
	.bg-block {
		&__name {
			font-size: 3.375rem;
			margin-bottom: 36px;
		}

		&__text {
			.font(1.75rem, @text, 100px);
			line-height: 1.32;
		}
	}
}

@media screen and (max-width: 480px) {
	.bg-block {
		&__name {
			font-size: 2rem;
			margin-bottom: 36px;
		}

		&__text {
			.font(1.3125rem, @text, 100px);
			line-height: 1.32;
		}
	}
}