.footer-wrapper {
	background: @blue-footer-bg;
	padding: 40px 0 60px;

	.body_green & {
		background: @green-footer-bg;
	}
	.body_blue-dark & {
		background: @blue-dark-footer-bg;
	}
	.body_brown & {
		background: @brown-footer-bg;
	}
}

.footer {
	.icon-e {
		margin-right: 16px;
	}
}

.social-box {
	width: 30%;
	display: inline-block;
	vertical-align: top;
	padding-right: 55px;
	.box-sizing(border-box);

	&__title {
		.regular();
		.font(1.3125rem, @text, 20px);
	}
	&__link {
		display: inline-block;
		.ex-light();
		.font(1rem, @text, 17px);
		text-decoration: none;
		.transition(all 0.15s ease);
		&:last-child {
			margin-bottom: 0;
		}
		&:hover {
			color: @blue-text-color;
			text-decoration: underline;
			.body_green & {
				color: @green-text-color;
			}
			.body_dark-blue & {
				color: @blue-dark-text-color;
			}
			.body_brown & {
				color: @brown-text-color;
			}
		}
	}
}

.partner-box {
	display: inline-block;
	vertical-align: top;
	width: 17%;
	padding-right: 30px;
	.box-sizing(border-box);
	&__title {
		.regular();
		.font(1.3125rem, @text, 20px);
	}
	&__link {
		width: 100%;
		display: inline-block;
		.ex-light();
		.font(1rem, @blue-text-color, 11px);
		text-decoration: none;
		.transition(all 0.15s ease);
		&:last-child {
			margin-bottom: 0;
		}
		&:hover {
			color: @text;
			text-decoration: underline;
		}
		.body_green & {
			color: @green-text-color;
		}
		.body_dark-blue & {
			color: @blue-dark-text-color;
		}
		.body_brown & {
			color: @brown-text-color;
		}
	}
}

.press-box {
	width: 15%;
	display: inline-block;
	vertical-align: top;
	&__title {
		.regular();
		.font(1.3125rem, @blue-text-color, 20px);
		.body_green & {
			color: @green-text-color;
		}
		.body_dark-blue & {
			color: @blue-dark-text-color;
		}
		.body_brown & {
			color: @brown-text-color;
		}
	}
	&__link {
		width: 100%;
		// display: inline-block;
		display: none;
		.ex-light();
		.font(1rem, @blue-text-color, 13px);
		text-decoration: none;
		.transition(all 0.15s ease);
		&:last-child {
			margin-bottom: 0;
		}
		&:hover {
			text-decoration: underline;
			.body_green & {
				color: @green-text-color;
			}
			.body_dark-blue & {
				color: @blue-dark-text-color;
			}
			.body_brown & {
				color: @brown-text-color;
			}
		}
	}
}

.footer-info {
	float: right;
	text-align: left;
	width: 30%;
	display: inline-block;
	vertical-align: top;
	&__up {
		margin-bottom: 29px;
	}
	&__down {}
	&__text {
		.light();
		.font(1rem, @text, 7px);
	}
	&__email {
		display: inline-block;
		.ex-light();
		.font(1rem, @blue-text-color, 13px);
		text-decoration: none;
		.transition(all 0.15s ease);
		&:last-child {
			margin-bottom: 0;
		}
		&:hover {
			color: @text;
			text-decoration: underline;
		}
		.body_green & {
			color: @green-text-color;
		}
		.body_dark-blue & {
			color: @blue-dark-text-color;
		}
		.body_brown & {
			color: @brown-text-color;
		}
	}
}



@media screen and (max-width: 768px) {
	// SOCIAL BOX
	.social-box {
		width: auto;
		display: block;
		padding-right: 0;
		margin-bottom: 50px;


		&__title {
			.regular();
			.font(1.6875rem, @text, 20px);
		}
		&__link {
			width: 100%;
			.font(1.5rem, @text, 17px);
		}
	}

	// PARTNER BOX
	.partner-box {
		display: none;
	}

	// PRESS BOX
	.press-box {
		width: auto;
		display: block;
		margin-right: 0;
		margin-bottom: 50px;

		&__title {
			.regular();
			font-size: 1.6875rem;
		}
	}

	// FOOTER INFO
	.footer-info {
		float: none;
		width: 100%;
		display: block;
		&__text {
			font-size: 1.5rem;
		}
		&__email {
			font-size: 1.5rem;
		}
	}
}

