// TABLE OF CONTENTS
// 1. Header wrapper
// 2. Header
// 3. Navigation menu


// HEADER WRAPPER
.header-wrapper {
	background: white;
	position: relative;
	z-index: 4;
}

// HEADER
.header {
	.box-sizing(border-box);
	padding-top: 20px;
	&__logobox {
		float: left;
	}
	&__logo {}
	&__logo-img {
		width: 264px;
		height: 76px;
		vertical-align: middle;
	}
	&__right-content {
		float: right;
		text-align: right;
		width: 75%;
	}
	&__info {}
	&__info-number {
		.regular();
		.font(1.3125rem, @text, 1px);
	}
	&__info-links {
		padding-bottom: 13px;
		border-bottom: 1px solid #e1ebdd;
	}
	&__link {
		.transition(all 0.15s ease);
		.regular();
		.font(1rem, @blue-text-color);
		margin-right: 22px;
		&:hover {
			color: @text;
		}
		&:last-child {
			margin-right: 0;
		}

		// HEADER GREEN
		.body_green & {
			color: @green-text-color;

			&:hover {
				color: @text;
			}
		}

		// HEADER BROWN
		.body_brown & {
			color: @brown-text-color;

			&:hover {
				color: #464c4a;
			}
		}
	}
}

.open-menu-box {
	display: none;
	cursor: pointer;
	width: 76px;
	height: 72px;
	background: @blue-menu-bg;
	.box-sizing(border-box);
	padding-top: 16px;
	.body_green & {
		background: @green-text-color;
	}
	&__line {
		width: 40px;
		height: 8px;
		background: white;
		margin: 0 auto 8px;
		-ms-transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		.transition(all 333ms cubic-bezier(0.5, 0, 0, 1));
		&:last-child {
			margin-bottom: 0;
		}
	}
	&_checked {
		.open-menu-box__line {
			&:first-child {
				width: 46px;
				-ms-transform: rotate(-135deg) translateX(-11.5px) translateY(-11.5px);
				-webkit-transform: rotate(-135deg) translateX(-11.5px) translateY(-11.5px);
				transform: rotate(-135deg) translateX(-11.5px) translateY(-11.5px);
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:last-child {
				width: 46px;
				-ms-transform: rotate(135deg) translateX(-11px) translateY(11px);
				-webkit-transform: rotate(135deg) translateX(-11px) translateY(11px);
				transform: rotate(135deg) translateX(-11px) translateY(11px);
			}
		}
	}
}




// NAVIGATION MENU
.nav {
	text-align: right;
	padding: 9px 0;
	&__menu-first {}
	&__menu-sub {
		text-align: left;
		background: white;
		top: 27px;
		position: absolute;
		display: none;
		width: auto;
		.box-sizing(border-box);
		padding: 20px 0 15px;
	}
	&__sub-item1 {
		position: relative;
		display: inline-block;
		.box-sizing(border-box);
		border-right: 1px solid @text;
		&:last-child {
			border-right: 0;
			padding-right: 3px;
		}
	}
	&__link {
		.transition(all 0.15s ease);
		.box-sizing(border-box);
		text-transform: uppercase;
		text-decoration: none;
		display: block;
		white-space: nowrap;
		padding: 0 33px;
		.light();
		.font(0.875rem, @text);
		&:hover {
			color: @blue-text-color;
		}
		&_sub {
			padding: 5px 31px;
			white-space: nowrap;
			font-size: 1.125rem;
			margin-bottom: 5px;
			text-transform: none;
		}
		.nav__sub-item1:last-child & {
			padding-right: 0;
		}
		.body_green & {
			&:hover {
				 color: @green-text-color;
			}
		}

		.body_brown & {
			&:hover {
				color: @brown-text-color;
			}
		}
	}
	&__footer {
		display: none;
		.box-sizing(border-box);
		padding: 154px 0 47px 47px;
		background-color: darken(@blue-menu-bg, 8%);

	}
	&__footer-text {
		.light();
		.font(1.6875rem, white, 12px);
	}
	&__footer-link {
		.light();
		.font(1.6875rem, #e5cd17);
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}


@media screen and (max-width: 1250px) {
	// HEADER
	.header {
		&__right-content {
			width: 70%;
		}
	}
	// NAVIGATION MENU
	.nav {
		&__link {
			padding: 0 18px;
		}
	}
}

@media screen and (max-width: 1115px) {
	// NAVIGATION MENU
	.nav {
		&__link {
			padding: 0 11px;
		}
	}
}

@media screen and (max-width: 990px) {
	.open-menu-box {
		display: block;
		float: right;
		.body_green & {
			background: @green-text-color;
		}
	}

	// HEADER
	.header {
		.box-sizing(border-box);
		padding:12px 0;
		&__logobox {
			float: left;
		}
		&__right-content {
			width: 100%;
			position: relative;
		}
		&__info {
			display: none;
		}
	}

	// NAVIGATION MENU
	.nav {
		display: none;
		text-align: left;
		padding: 0 80px 0 0;
		margin-left: -40px;
		top: 12px;
		background: @blue-menu-bg;
		position: absolute;
		width: 100%;
		.body_green & {
			background: @green-text-color;
		}
		&__menu-first {
			margin-right: -80px;
		}
		&__menu-sub {
			display: none;
		}
		&__sub-item1 {
			display: block;
			height: 90px;
			border-right: 0;
			border-bottom: 1px solid darken(@blue-menu-bg, 8%);
			.body_green & {
				border-bottom: 1px solid darken(@green-text-color, 8%);
			}
			&:last-child {
				border-right: 0;
				padding-right: 0;
			}
		}
		&__link {
			padding: 0 44px;
			width: 60%;
			height: 100%;
			.light();
			.font(2.8125rem, white);
			line-height: 2.2;
			&:hover {
				color: white;
			}
			&_sub {
				padding: 5px 31px;
				white-space: nowrap;
				font-size: 1.125rem;
				margin-bottom: 5px;
				text-transform: none;
			}
		}
		&__footer {
			display: block;
			margin-right: -80px;
			padding-right: 40px;
			.body_green & {
				background: darken(@green-text-color, 8%);
			}
		}
	}
}

@media screen and (max-width: 768px) {
	// NAVIGATION MENU
	.nav {
		&__link {
			width: 77%;
		}
	}
}

@media screen and (max-width: 580px) {
	// NAVIGATION MENU
	.nav {
		&__link {
			width: 100%;
		}
	}
}

@media screen and (max-width: 415px) {
	.open-menu-box {
		width: 54px;
		height: 50px;
		padding-top: 11px;
		margin-top: 11px;
		&__line {
			width: 28px;
			height: 6px;
			margin: 0 auto 5px;
			-ms-transform: translate3d(0, 0, 0);
			-webkit-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
			.transition(all 333ms cubic-bezier(0.5, 0, 0, 1));
		}
		&_checked {
			.open-menu-box__line {
				&:first-child {
					width: 34px;
					-ms-transform: rotate(-135deg) translateX(-8px) translateY(-8px);
					-webkit-transform: rotate(-135deg) translateX(-8px) translateY(-8px);
					transform: rotate(-135deg) translateX(-8px) translateY(-8px);
				}
				&:last-child {
					width: 34px;
					-ms-transform: rotate(135deg) translateX(-8px) translateY(8px);
					-webkit-transform: rotate(135deg) translateX(-8px) translateY(8px);
					transform: rotate(135deg) translateX(-8px) translateY(8px);
				}
			}
		}
	}

	// HEADER
	.header {
		&__logobox {
			padding-top: 11px;
		}
		&__logo-img {
			width: 175px;
			height: 50px;
		}
	}
	// NAVIGATION MENU
	.nav {
		&__link {
			font-size: 1.9rem;
		}
		&__sub-item1 {
			height: 67px;
		}
	}
}