// TABLE OF CONTENTS
// 1. Slider content
// 2. Slider box


// SLIDER CONTENT
.slider-content {
	position: relative;
	.fade-bg(white, 300px);
	margin-bottom: 65px;
}

// SLIDER BOX
.slider-box {
	&__item {
		text-align: center;
		padding: 0 12px;
	}
	&__img {
		margin: 0 auto;
		max-width: 100%;
		width: 100%;

	}
}

@media screen and (max-width: 768px) {
	// SLIDER CONTENT
	.slider-content {
		background: white;
		&:before {
			background: none;
			display: none;
		}
		&:after {
			background: none;
			display: none;
		}
	}
}