.social-line {
	padding-top: 13px;
	padding-bottom: 13px;
	border-top: 1px solid #e7f0ed;
	&__title {
		margin-right: 20px;
		.light();
		.font(1.125rem, @text);
		text-transform: uppercase;
		vertical-align: text-bottom;
	}
	&__link-box {
		display: inline-block;
		vertical-align: middle;
	}
	&__link {
		width: 30px;
		height: 30px;
		display: inline-block;
		margin-right: 1px;
		&_facebook {}
		&_twitter {}
		&_vk {}
		&_youtube {
			margin-right: 0;
		}
	}
}

@media screen and (max-width: 768px) {
	.social-line {
		padding-top: 15px;
		padding-bottom: 25px;
		border-top: 1px solid #e7f0ed;
		&__title {
			margin-right: 20px;
			.light();
			.font(1.6875rem, @text);
			text-transform: uppercase;
			vertical-align: middle;
			display: inline-block;
		}
		&__link-box {
			display: inline-block;
			vertical-align: middle;
		}
		&__link {
			width: 48px;
			height: 48px;
			display: inline-block;
			margin-right: 21px;

			&_youtube {
				margin-right: 0;
			}

			.icon-fb {
				background-position: -25px -275px;
				height: 48px;
				width: 48px;
			}
			.icon-tw {
				background-position: -100px -275px;
				height: 48px;
				width: 48px;
			}
			.icon-vk {
				background-position: -175px -275px;
				height: 48px;
				width: 48px;
			}
			.icon-yt {
				background-position: -250px -275px;
				height: 48px;
				width: 48px;
			}
		}
	}
}

@media screen and (max-width: 530px) {
	.social-line {
		&__title {
			width: 100%;
			margin-right: 0;
			margin-bottom: 20px;
		}
	}
}