// TABLE OF CONTENTS
// 1. Recipes
// 2. Recipes List


// RECIPES
.recipes {
	margin-bottom: 167px;
	text-align: center;
}

// RECIPES LIST
.recipes-list {
	&__item {
		width: 32%;
		display: inline-block;
		vertical-align: top;
		margin-right: 2%;
		margin-bottom: 44px;
		&:nth-child(3n) {
			margin-right: 0;
		}
		&:last-child {
			margin-right: 0;
		}
	}
	&__img-link {
		display: block;
		height: 252px;
		margin-bottom: 19px;
		background-position: 0 0;
		background-repeat: no-repeat;
		background-size: cover;
		&:hover {}
	}

	&__title {
		text-align: left;
		display: block;
		text-decoration: none;
		.font(1.125rem, @text);
		.light();
		.transition(all 0.15s ease);
		&:hover {
			color: @green-text-color;
		}
	}
}

@media screen and (max-width: 1024px) {
	// RECIPES LIST
	.recipes-list {
		&__item {
			width: 31%;
			margin-right: 3.5%;
			&:nth-child(3n) {
				margin-right: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}
		&__img-link {
			height: 194px;
			margin-bottom: 7px;
		}
	}
}

@media screen and (max-width: 768px) {
	// RECIPES LIST
	.recipes-list {
		&__item {
			width:48%;
			margin-right: 4%;
			&:nth-child(3n) {
				margin-right: 4%;
			}
			&:nth-child(2n) {
				margin-right: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}
		&__img-link {
			height: 228px;
			margin-bottom: 13px;
		}
		&__title {
			font-size: 1.3125rem;
		}
	}
}

@media screen and (max-width: 550px) {
	// RECIPES LIST
	.recipes-list {
		&__item {
			width:100%;
			margin-right: 0;
			&:nth-child(3n) {
				margin-right: 0;
			}
			&:nth-child(2n) {
				margin-right: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
}